/**** Variables ****/
$White:     #FFFFFF;
$DarkBlue:  #1D2F43;
$Blue:      #779ECB;
$LightBlue: #E8EDE9;
$Grey:      #bdbdbd;
$DarkGrey:  #727272;
$Purple:    #B39EB5;
$Dark:      #37353a;
$LightDark: #504d55;
$Green:     #77DD77;
$LightGrey: #f5f5f5;
$rowSize:   550px;
$squareText: 'Montserrat', sans-serif;
$fancyText:  'Droid Serif', serif;
$parText:    'Open Sans', sans-serif;
$parLight: 300;

.main-menu {
	background:$Dark !important;
}