/**** Variables ****/
$White:     #FFFFFF;
$DarkBlue:  #1D2F43;
$Blue:      #779ECB;
$LightBlue: #E8EDE9;
$Grey:      #bdbdbd;
$DarkGrey:  #727272;
$Purple:    #B39EB5;
$Dark:      #37353a;
$LightDark: #504d55;
$Green:     #77DD77;
$LightGrey: #f5f5f5;
$rowSize:   550px;
$squareText: 'Montserrat', sans-serif;
$fancyText:  'Droid Serif', serif;
$parText:    'Open Sans', sans-serif;
$parLight: 300;

/**** Rows General ****/
.green-text {
  color:$Green;
  font-size:3.5rem;
}
h1, h2 {
  letter-spacing:6px;
}
.first-row, .second-row, .third-row, .fourth-row, footer {
  position: relative;
  width:100%;
}
.first-row, .second-row, .third-row{
  &:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    width: 0;
    height: 0;
    //border-top: solid 30px;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    z-index:5;
    padding-bottom:3%;
  }
}

.first-row  { &:after {border-top: solid 30px $LightGrey;} }
.second-row { &:after {border-top: solid 30px $Dark;} }
.third-row { &:after {border-top: solid 30px $LightGrey;} }

button:focus{
  outline: none;
}
/**** Main Row ****/
.fixed-row {
  height: 550px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-row {
  background-image: url('../Resource/large.png');
}
.title-wrapper {
  text-align:center;
  height:100%;
  position:fixed;
  margin:auto;
  width:100%;
  padding-top:10%;
}
.title-wrapper h1 {
  vertical-align: middle;
  line-height: 1.2em;
  margin-bottom:4%;
}
.title-wrapper .bold{
  color: $White;
  font: {
    weight:bold;
    family:$parText;
    size:400%;
  }
  letter-spacing: 5px;
}
.title-wrapper .normal{
  color:$Green;
  font-size: 200%;
  font-family: $fancyText;
}
.button-wrapper {
  text-align:center;
  .main-button {
    border:3px solid $Green;
    border-radius:50px;
    color: $Green;
    min-height:60px;
    margin-top:30px;
    overflow:hidden;
    background: transparent;
    transition: all 0.3s ease-in-out;
    &:hover{
      transition: all 0.3s ease-in-out;
      border:3px dashed $Green;
      color: $Green;
      background: transparent;
      cursor: pointer;
    }
  }
}
span{
  letter-spacing: 2px;
  font: {
    weight:bold;
    family:$squareText;
    size:1rem;
  }
}


/**** First Row ****/
.first-row {
  background: $LightGrey;
  header {
    padding-top:0;
  }
  h2{
    color:$Dark;
  }
  .columns{
    text-align:center;
    .main-icons {
      padding-right:25%;
      padding-left:25%;
    }
    p {
      color:$Dark;
      font: {
        family:$parText;
      }
    }
    .title {
      font: {
        size: 150%;
        weight:bold;
      }

    }
  }
}

/**** Second Row ****/

.second-row {
  background: $Dark;
  .triangle {
    border-top: 30px solid $LightGrey;
  }
  .large-5 {
    text-align:center;
  }
  .columns{
    padding-top: 40px;
  }
  .title-caption {
    color: $DarkGrey;
  }
  p {
    color:$White;
    font: {
      family:$parText;
    }
  }
  .whoiam-body {
    line-height:2;
  }
  h2 {
    color:$White;
  }
  .self-img {
    max-width:90%;
    max-height:375px;
    margin-top:-10%;
  }
}
/**** Third Row ****/
.stat-row {
  img {
    max-height:100px;
  }
  .row {
    max-width:70rem;
    .columns{
      p {
        @media screen and (max-width: 1024px) {
          padding-top:5%;
          text-align:center;
        }
        @media screen and (min-width:1025px) {
          padding-top:20%;
          text-align:left;
        }
        line-height:3rem;
        font: {
         family:$parText;
       }
     }
   }
 }
 .stat-title {
  text-align:center;
  h2 {
    padding-left:20px;
    font: {
      family:$parText;
      weight:bold;
    }
  }
}
}
.third-row {
  @extend .stat-row;
  background: $LightGrey;
  h2 {
    color:$Dark;
  }
  ul {
    li {
      color:$Dark;
    }
  }
  .triangle {
    border-top: 30px solid $Dark;
  }
  .large-7 {
    text-align:center;
    h3 {
      font: {
        family:$parText;
        size:1.5em;
      }
    }
  }  
}

.ct-label.ct-horizontal {
  text-align:center !important;
  font-size: 0.6rem !important;
}
.ct-bar {
  stroke:$Green !important;
  stroke-width: 40px !important;
}

/**** Fourth Row ****/ 
.fourth-row {
  //background: $LightGrey;
  background:$Dark;
  h2 {
    color:$White;
  }
  form {
    .columns {
      width:50%;
    }
    label {
      padding: 0 1rem;
      color:$White;
      font: {
        family: $parText;
        size:1rem;
        weight: light;
      }
    }
    input {
      border-radius:5px;
    }
    textarea {
      border-radius:5px;
      min-height:200px;
      max-height:200px;
    }
  }
}
.fourth-row .triangle {
  border-top: 30px solid $LightGrey;
}